{% load static %}

<!-- HOME -->
<div class="iknow_tm_animate_section animated" id="home">
    <div class="iknow_tm_hero_extra">
        <div class="background">
            <div class="image"></div>
            <div class="overlay"></div>
        </div>
        <div class="hero_content">
            <div class="left">
                <span class="hello">Hello,I'm</span>
                <h3 class="name">{{ about.first_name }} {{ about.last_name }}</h3>
                <p class="text">{{ about.subtitle }}</p>
                <div class="iknow_tm_button yellow transition_link">
                    <a href="#contact">Work with me</a>
                </div>
            </div>
            <div class="right">
                <div class="image parallax" data-relative-input="true">
                    <img src="{% static 'images/thumbs/47-60.jpg' %}" alt="" />
                    <div class="main layer" data-depth="0.05" data-img-url="{% static 'images/hero/7.jpg' %}"></div>
                    <span class="box layer" data-depth="0.1"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /HOME -->